*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover{
    color:blue;
}

button:hover{
    cursor:pointer;
}

button{
    transition: 0.2s;

}
.main2 button:hover{
    width:200px;
    height: 50px;
}

.main4 button:hover{
    width:200px;
    height: 50px;
}

.main5 button:hover{
    width:200px;
    height: 50px;
}

.main6 button:hover{
    width:200px;
    height: 50px;
}

.main7 button:hover{
    width:200px;
    height: 50px;
}

.main10buttons button:hover{
    background-color: #323a45;
    color: white;
}
.main11{
    transition: 0.5s;
}
.logo3 img:hover{
    width:35px;
    height:35px;
}
.logo2 img:hover{
    width:35px;
    height:35px;
}

.stores img{
    transition: 0.5s;
}

.stores img:hover{
    width: 220px;
    height: 65px;
}



.milk{
    width: 100vw;
    height: 100vh;
    position:relative;
    box-sizing: border-box;
    overflow-x: hidden;
}
#img1{
    padding: 20px;
    padding-left: 25px;
    margin-right: 10px;
    margin-top: -5px;

}
#list1{
    display:flex;
    justify-content: space-between;
    list-style-type:none;
    margin-right: 10px;
    margin-left: 10px;
}
a{
    text-decoration: none;
    padding: 20px;
    color: black;
}
.headnav{
    background-color:white;
    height: 100px;
    position:sticky;
    top:0;
    z-index: 10;
}
#head1{
    padding-bottom:50px;
    padding-top:20px ;
    padding-right:60px ;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
}
#home{
    color:#2596c8 !important;
}
.head2{
    position:relative;
}
#tit{
position: absolute;
left: 490px;
top:30px;
font-family: Pacifico, cursive !important;
font-size: 70px;
padding: 30px;
color: white;
}
#tit2{
position: absolute;
left: 670px;
top:30px;
font-family: Pacifico, cursive !important;
font-size: 70px;
padding: 30px;
color: #2596c8;
}

#tit3{
position: absolute;
left: 960px;
top:30px;
font-family: Pacifico, cursive !important;
font-size: 70px;
padding: 30px;
color: white;
}

h1{
    display: inline;
}
#tit4{
    position: absolute;
left: 560px;
top:150px;
font-family: Pacifico, cursive !important;
font-size: 20px;
padding: 30px;
color: white;
font-weight: 2000px;
}
p{
    font-weight:1;
}
#store1{
    position: absolute;
    left:782px;
    top:310px;
}
#store2{
    position: absolute;
    left:1030px;
    top:310px;
}

.main1{
    width: 100%;
    background-color:white;
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    gap: 120px;
    height: 700px;
}

#list2{
display: flex;
gap: 70px;
text-align: center;
font-size: 50px;
font-weight: lighter;

}

#topit{
    list-style: none;
    font-weight: lighter;
}

.mainhead{
    margin-top: 120px;
    font-family: 'Open Sans', sans-serif;
    
}

.mainhead p{
    color:rgb(186, 180, 180);
    font-size: 28px;
}

.ob{
    width: 75%;
    display: flex;
    height: 1000px;
    justify-content:space-between;
    gap: 20px;
    
}
.ob img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: solid black 2px;
}


.ob1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    width: 500px;
}

.ob2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
   
    width: 500px;
}

.ob3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    
    width: 500px;
}

#obp{
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
}

#obp2{
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    color:rgb(186, 180, 180);
}


.main2 {
    width:100%;
    height: 200px;
    background-color: #323a45!important;
    display: flex;
    align-items: center;
    gap: 20px;
}

.main2left{
    width:20%;
    height: 100%;
    margin-left: 200px;
    color: white;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main2right{
    width: 80%;
    height: 100%;
    margin-right: 200px;
    display: flex;
    align-items: center;
    gap: 15px;
}

#mobno{
    width: 77%;
    height: 40px;
    background-color: #323a45!important ;
    border: none;
    outline: none;
    border-bottom: dotted white 0.5px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 20px;
}
.con{
    width: 175px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2596c8 !important;
    gap: 20px;
    border-radius: 7px;
}
.con img{
    width: 20px;
    height: 20px;

}
.con p{
    color: white;
}

.main3{
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#main3t1p1{
    font-size: 24px;
    color:rgb(186, 180, 180);
}

#main3t1p2{
    font-size: 50px;
    
}

.t2 p{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: #747474;
    display: inline;
}

#para{
    font-weight: 800;
}


.main4{
    width: 100%;
    height: 490px;
    background-color: white;
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
.main4left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.main4left img{
    width: 600px;
    height: 450px;
    margin-left: 150px;
}

.main4right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 25px;
}

.main4right span{
    font-size: 35px;
}

.main4right p{
    color: #747474;
    font-size: 17px;
}

.startnow {
    width: 140px;
    height: 40px;
    border-radius: 6px;
    color: #2596c8 !important;
    border-color: #2596c8;

    
}

.main5{
    width: 100%;
    height: 490px;
    background-color: white;
    display: flex;
    gap: 5px;
    margin-top: 70px;
}
.main5right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.main5right img{
    width: 600px;
    height: 450px;
    margin-right: 230px;
    
}

.main5left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 28px;
    margin-left: 420px;
}

.main5left span{
    font-size: 35px;
}

.main5left p{
    color: #747474;
    font-size: 17px;
}

.startnow {
    width: 140px;
    height: 40px;
    border-radius: 6px;
    color: #2596c8 !important;
    border-color: #2596c8;
}

.main6{
    width: 100%;
    height: 490px;
    background-color: white;
    display: flex;
    gap: 50px;
    margin-top: 70px;
}
.main6left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.main6left img{
    width: 600px;
    height: 450px;
    margin-left: 150px;
}

.main6right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 25px;
}

.main6right span{
    font-size: 35px;
}

.main6right p{
    color: #747474;
    font-size: 17px;
}

.startnow {
    width: 140px;
    height: 40px;
    border-radius: 6px;
    color: #2596c8 !important;
    border-color: #2596c8;
}

.main7{
    width: 100%;
    height: 490px;
    background-color: white;
    display: flex;
    gap: 5px;
    margin-top: 70px;
}
.main7right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.main7right img{
    width: 600px;
    height: 450px;
    margin-right: 230px;
    
}

.main7left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 28px;
    margin-left: 420px;
}

.main7left span{
    font-size: 35px;
}

.main7left p{
    color: #747474;
    font-size: 17px;
}

.startnow {
    width: 140px;
    height: 40px;
    border-radius: 6px;
    color: #2596c8 !important;
    border-color: #2596c8;
}

.main8{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin-top: 65px;
}

#main8p1{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color:rgb(180, 175, 175);
}

#main8p2{
    font-family: 'Open Sans', sans-serif;
    font-size: 47px; 
}

.main9{
    width: 100%;
    height: 400px;
    display: flex;
    padding-left: 100px;
    padding-right: 0px;
    margin-top: 50px;
}

.review1{
    width: 33%;
    height: 500px;
    display:flex;
    flex-direction: column;
    justify-content:start;
    justify-content: start;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    gap: 20px;
}

.review2{
    width: 33%;
    height: 500px;
    display:flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    gap: 20px;
}

.review3{
    width: 33%;
    height: 500px;
    display:flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    gap: 20px;
}

.cont1{
    width: 65%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #747474;
    border-radius:10px ;
    background: #f5f7f9;
}

.cont2{
    display:flex;
    justify-content: start;
    gap: 5px;
    margin-right: 150px;
}

.cont2 p{
    text-align: left;
}

.cont3{
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #747474;
    border-radius:10px ;
    background: #f5f7f9;
}

.cont4{
    display:flex;
    align-items: center;
    gap: 5px;
    margin-right: 185px;
}

.cont4 img{
    border-radius: 30px;
}

.cont5{
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #747474;
    border-radius:10px ;
    background: #f5f7f9;
}

.cont6{
    display:flex;
    align-items: center;
    gap: 5px;
    margin-right: 150px;
}

.main10{
    width:100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 100px;
    

}

.main10head p{
    font-size: 25px;
    color:rgb(180, 175, 175);
}


.kaand{
    width: 190px;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    background: #f5f7f9;
    border: 1px solid #dad7d7;
    margin-top:5px;
}

.main11{
    width: 100%;
    height: 330px;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.main11s1{
    height: 100%;
    width: 42%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-left: 100px;
    padding-left: 50px;
}

#aboutus{
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    color: #5f6467!important;
    padding-left: 80px;
}

#main11s1cont{
    font-size: 18px;
    color: #747474;
    font-family: 'Open Sans', sans-serif;
    padding-left: 80px;

}

.main11s2{
    height: 100%;
    width: 20%;
    display:flex;
    flex-direction: column;
}

.main11s2 img{
    width: 90px;
    height: 70px;

}

#contactus{
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    color: #5f6467!important;
    margin-left: 20px;
}

#main11s2cont{
    font-size: 20px;
    color: #747474;
    font-family: 'Open Sans', sans-serif;
    margin-bottom:50px;
    margin-left: 24px;
}

.main11s3{
    height: 100%;
   width: 30%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.main11s3 img{
    width: 32px;
    height: 32px;
}

#socialmedia{
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    color: #5f6467!important;
}

.main11logos{
    display: flex;
    flex-direction: column;
   
}

.main11logos button{
    margin: 3.5px;
    border-radius: 3px;
    border-color:rgb(180, 175, 175);
}

.foot{
    width: 100%;
    height: 100px;
    display: flex;
    align-items:center ;
    justify-content: space-evenly;
    gap: 620px;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid rgb(237, 229, 229);
}

.footleft{
    color: #747474;
    font-size: 19px;
    margin-right: 20px;
    
}
.footright a{
    color: #747474;
    font-size: 19px;
    margin-right: 40px;
}

.footright{
    transition: 0.5s;
}
.footright a:hover{
    color:#21262e;
}

.goup{
    text-align: end;
    position: fixed;
    top: 880px;
    right: 1px;
}

.goup img{
    width: 50px;
    height: 60px;
    border: solid black 3px;
    margin-right: 20px;
}








