*{
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#d7c694;
}
.box2{
height:25vh;
background-color: #dda365;
width:90%;
border-radius: 20px;
position: relative;
left: 05%;
display: flex;
justify-content: center;
align-items: center;
border: 2px solid black;
margin-bottom: 2%;


}

.nav{
    font-size: 60px;
    display: flex;
    text-transform: capitalize;
    justify-content: center;
    background-color:#ded58a;
    box-shadow:#4b1d1d 0px 0px 20px 0px;
    margin-bottom: 20px;
    position: sticky;
    z-index: 1;
    -webkit-text-stroke: 0.7px #ff8f00;

}

.inputs{
    display: flex;
    margin-bottom: 5px;
    text-transform: capitalize;
    background-color: #dda365;
    display: block;

}
.ibox{
    display: flex;
    /* border-radius: 5px; */
    height: px;
    width: 50px;
    /* text-align: center; */
    border: 3px solid #dda365;
    
}
.i{
    margin-bottom: 15px;
    margin-left: 20px;
text-decoration: none;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
